/*  Pramudya Wibowo
    TI 2D
*/

body,
ol,
ul,
h1,
h2,
img {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: sans-serif;
}

p {
    line-height: 1.5;
}

ol,
ul {
    list-style: none;
}

body {
    background: url(../img/bg.jpg) repeat;
    background-size: 350px;
}

.header {
    margin: 0;
    padding: 0;
    z-index: 2;
}

.header .bg {
    width: 100%;
    height: 75px;
    background-color: #00488c;
}

.logo {
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 5px;
    width: 100px;
}

.judul {
    font-family: Arial;
    margin: 0;
    padding-top: 20px;
    padding-left: 20px;
    font-size: 30px;
    color: white;
    font-weight: bold;
}

.navbar a {
    color: darkblue;
}

.container {
    width: 1000px;
    margin: auto;
    background-color: white;
}

.text {
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.welcome {
    background-color: #00509c;
    color: white;
}

.welcome h2 {
    font-weight: lighter;
    padding-top: 35px;
    font-size: 50px;
}

.banner {
    height: 350px;
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: 0 -350px;
    border-top: 5px solid darkblue;
}
